
	.center-first{

        margin:auto;
        padding:20px;
        letter-spacing: 30px;
        color: whitesmoke;
        position: absolute;
        top: 300px;;
        left: 400px;
       
        background-color:rgb(21, 22, 22) ;
         
    }
    .center-second{
        text-align: center;
      
        
    }


    .center-third{
        text-align: center;
        
    }

     .image{
         padding-left:300px;
        
     }
     .ending{
         border: gray ;
        background-color:lightgrey;
        margin: auto;
        width:40%;
        border-style: solid  ;
        border-color: black;
        padding: 10px;
        letter-spacing: 10px;
        
     }
     .center-fourth{
         color: white;
         text-align: center;
         background-color: black;
     } 
     .right-text{
         padding-left: 40%;
        
     }
     .end-center{
         padding-left:35% ;
         padding-bottom: 300;
     }
     .img{
         letter-spacing: 10px;
         padding-left: 100px;
     }
     